.Burger{
  width: 100%;
  margin: auto;
  overflow: auto;
  height: 20rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #606060;
}

@media(min-width:650px){
  .Burger{
    width: 600px;
    height: 400px;
  }
}

@media(min-width:1000px){
  .Burger{
    width: 800px;
    height: 375px;
  }
}