.Button {
    background-color: transparent;
    border: 2px solid #5C9210;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1rem;
    margin: 2rem ;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.35rem;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1rem;
}

.Button:hover{
    color: #fff;
    background-color: #5C9210;
    font-weight: 400;
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Success {
    color: #5C9210;
}

.Success:hover{
    background-color: #5C9210;
}

.Danger {
    color: #bf1e13;    
    border: 2px solid #bf1e13;
}

.Danger:hover{
    background-color: #bf1e13;
}

Button:disabled{
    cursor: not-allowed;
    background-color: #ccc;
    color: #777;
    border: none;    
}

.Button:hover:disabled{
    background-color: #ccc;
    color: #777;
}