.NavigationItems{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.NavigationItems li{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.25rem;
}

.NavigationItems a{
    color: #fff;
    text-decoration: none;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    border-bottom: 4px solid transparent;
    letter-spacing: 1px;
    height: 100%;
    display: block;
}

.NavigationItems button{
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    padding: 1.5rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    height: 100%;
    border-bottom: 4px solid transparent;
}

.NavigationItems a:hover,
.NavigationItems a:active,
.NavigationItems a.active,
.NavigationItems button:hover{
    background-color: #8f5c2c;
    border-bottom: 5px solid #40a4cb;
    color: #fff;
}

@media(max-width: 599px){  
    .NavigationItems{
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }

    .NavigationItems li{
        margin: 1rem auto;
        box-sizing: border-box;
        font-size: 1.5rem;
    }
    
    .NavigationItems a{
        letter-spacing: 2px;
        width: 100%;
    }
    
    .NavigationItems a:hover,
    .NavigationItems a:active,
    .NavigationItems a.active{
        color: #40a4cb;
    }
    
}